html , body {
    margin: 0%;
    padding: 0%;
}

body {
    width: 100%;
    height: 100%;
    font-family: SF Pro Text,SF Pro Icons,Helvetica Neue,Helvetica,Arial,sans-serif;
}

.header1Justify {
    width: 100%;
    height: 7vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fafafc;
}

.header1 {
    width: 80%;
    height: 100%;
    display: grid;
    grid-template-columns: 3vw 5vw 4.3vw 4.5vw 5.7vw 5.3vw 5.2vw 5.5vw 7.9vw 8.5vw 8vw 6vw 4vw 0vw ;
    grid-template-rows: 1fr;
    font-size: small;
    align-items: center;
    justify-content: center;
}

.header1 > a > img {
    width: 1vw;
}

.header2Justify {
    width: 100%;
    height: 22vh;
}

.header2 {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(13 , 1fr);
    grid-template-rows: 1fr;
    padding-left: 30px;
    background-color: #fafafc;
    padding-bottom:15px;
}

.header2 > div {
    height: 100%;
    width: 100%;
    font-size: small;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.header2 > div > p > img {
    width: 100%;
}


.header2 > div > p {
    margin: 0%;
    padding: 0%;
    margin-top: 10px;
}

.model1 {
    opacity: 0.6;
}

.model1 {
    text-align: center;
}

.new {
    font-size: x-small;
    color: darkred;
    text-align: center;
}

.offer {
    background-color: #f5f5f7;
    width: 100%;
    height: 7vh;
    font-size: 14px;
    margin-top: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.offer > a {
    text-decoration: none;
    color: #0076b5 ;
}

.watchV1 {
    width: 100%;
    height: 140vh;
}

.text {
    width: 100%;
    height: 41vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.bold {
    font-size: 80px;
    font-weight: 600;
}

.light {
    font-size: 25px;
}

.watchV1 > video {
    height: 99vh;
    width: 100%;
    object-fit: cover;
    border-bottom-right-radius: 50px;
    border-bottom-left-radius: 50px;
}

.featcherText {
    font-size: 49px;
    margin-top: 31vh;
    margin-left: 95px;
}


.watchOptions {
    display: flex;
    width: 100%;
    height: 100vh;
    margin-left: 70px;
}

.box1 {
    margin-left: 20px;
    width: 27%;
    height: 100%;
    border-radius: 30px;
    background-size: cover;
    background-image: url(feature1.png);
}

.box2 {
    margin-left: 20px;
    width: 27%;
    height: 100%;
    border-radius: 30px;
    background-size: cover;
    background-image: url(feature2.png);
}

.box3 {
    margin-left: 20px;
    width: 27%;
    height: 100%;
    border-radius: 30px;
    background-size: cover;
    background-image: url(feature3.png);
}

.health {
    color: black;
    font-size: 17px;
    font-weight: 500;
    margin-top: 40px;
    margin-left: 25px;
    margin-bottom: 0px;
}

.knowHeart {
    color: black;
    font-size: 24px;
    font-weight: 600;
    margin-left: 25px;
    margin-top: 12px;
}

.button {
    color: white;
    text-align: center;
    font-size: 30px;
    width: 34px;
    height: 34px;
    border-radius: 50%;
    background-color: #37373a;
    position: relative;
    top: 67%;
    left: 81%;
}

.button1 {
    color: white;
    text-align: center;
    font-size: 30px;
    width: 34px;
    height: 34px;
    border-radius: 50%;
    background-color: #37373a;
    position: relative;
    top: 63%;
    left: 81%;
}

.scroolButton1 {
    color: black;
    text-align: center;
    font-size: 30px;
    width: 34px;
    height: 34px;
    border-radius: 50%;
    background-color: #e9e9eb;
    margin-left: 85%;
    opacity: 0.3;
}


.scroolButton2 {
    color: black;
    text-align: center;
    font-size: 30px;
    width: 34px;
    height: 34px;
    border-radius: 50%;
    background-color: #e9e9eb;
    margin-left: 20px;
}

.flex1 {
    display: flex;
    margin-top: 40px;
    margin-bottom: 20vh;
}

.exploreHeading {
    background-color: #f5f5f7;
}

.exploreHeading {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.exploreHeading > h1 {
    font-size: 50px;
    margin-top: 120px;
}

.exploreHeading > a {
    color: #005786;
    text-decoration: none;
    margin-top: 100px;
}